@import '@resources/index.css';

.supt-input-radio {
	@extend %input-wrapper;

	&__label {
		@extend %input-label;
	}
	&__wrapper {
		@extend %input;
	}
	&__error {
		@extend %input-error;
		text-align: left;

		position: absolute;
		left: 0;

		display: block;
	}

	&.-error {
		.supt-input-radio__wrapper {
			border-color: $color-error;
		}
	}
}
