.type-press_review .spck-card-post.-audio,
.spck-card-post.-audio {
	.spck-card-post__top {
		background-color: var(--wp--preset--color--accent-3);
		&::after {
			background-image: url(../assets/icons/podcast.svg);
		}
	}

	.spck-card-post__content {
		.wp-block-post-excerpt__excerpt {
			line-clamp: initial;
			-webkit-line-clamp: initial;
		}
	}

	.wp-block-audio {
		width: 100%;
		display: flex;

		audio {
			width: 100%;
		}
	}
}
