.spck-card-person {
	background-color: var(--wp--preset--color--accent-7);
	border-radius: var(--wp--preset--spacing--20, 10px);
	align-items: flex-start;
	min-height: 100px;

	.spck-card-person__img {
		&:empty {
			&::before {
				content: "";
				display: block;
				width: 100px;
				height: 100px;
				background-image: url("../assets/Blank_woman_placeholder.svg");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-color: var(--wp--preset--color--base);
				flex-shrink: 0;

				@media (min-width: 1024px) {
					width: 150px;
					height: 150px;
				}
			}
		}
	}

	.wp-block-image {
		aspect-ratio: 1;
		width: 150px;
		height: auto;
		background-color: var(--wp--preset--color--base);
		flex-shrink: 0;

		@media (max-width: 1023px) {
			width: 100px !important;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	/* Content wrapper */
	.wp-block-group. {
		align-items: flex-start;
	}

	.wp-block-heading {
		/* Apply h5 styles */
		font-size: clamp(14px, calc(14px + (6 * (100vw - 320px) / 1020)), 20px);
		letter-spacing: -0.4px;
		font-weight: 600;
	}

	p {
		font-size: 16px;
	}
}
