.spck-card-gallery {
	position: relative;
	border-radius: var(--wp--preset--spacing--20, 10px);
	background: rgba(246, 242, 239, 0.5);
	overflow: hidden;

	.spck-card-gallery__image {
		margin: 0;
		width: 100%;
		aspect-ratio: 16/9;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.spck-card-gallery__inner {
		flex-grow: 1;
	}

	.spck-card-gallery__content {
		position: initial;
		flex-grow: 1;

		.wp-block-post-date {
			font-weight: 600;
		}

		.wp-block-post-title {
			font-size: clamp(14px, calc(14px + (6 * (100vw - 320px) / 1020)), 20px);
			letter-spacing: -0.4px;

			a {
				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
				}
			}
		}

		.wp-block-post-excerpt__excerpt {
			font-size: 16px;
			line-clamp: 3;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
		}
	}

	.wp-block-read-more {
		position: relative;
		transition: color 0.2s ease;
	}

	&:hover,
	&:focus-within {
		.wp-block-read-more {
			color: var(--wp--preset--color--contrast-light);
		}
	}
}
