.type-press_review .spck-card-post,
.spck-card-post.-press-review {
	.spck-card-post__top {
		background-color: var(--wp--preset--color--accent-5);
		&::after {
			background-image: url(../assets/icons/press-review.svg);
		}
	}

	.spck-card-post__content {
		.wp-block-post-excerpt__excerpt {
			line-clamp: initial;
			-webkit-line-clamp: initial;
		}
	}
}
