.spck-card-text-link {
	background-color: var(--wp--preset--color--accent-7);
	border-radius: 20px;
	min-height: clamp(280px, 24vw, 360px);
	height: 100%;

	.wp-block-group.is-vertical.is-layout-flex {
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: nowrap;
		height: 100%;

		.wp-block-group.is-vertical.is-layout-flex {
			justify-content: flex-end;
		}
	}

	/* Description */
	p {
		font-weight: 500;
	}
}
