.spck-card-member {
	background-color: var(--wp--preset--color--accent-7);
	border-radius: var(--wp--preset--spacing--20, 10px);
	align-items: flex-start;

	&:not(:has(.wp-block-post-featured-image)) {
		&::before {
			content: "";
			display: block;
			width: 100px;
			height: 100px;
			flex-shrink: 0;
			background-color: var(--wp--preset--color--base);

			@media (min-width: 1024px) {
				width: 150px;
				height: 150px;
			}
		}
	}

	.wp-block-post-featured-image {
		aspect-ratio: 1;
		width: 100%;
		background-color: var(--wp--preset--color--base);
		flex-shrink: 0;

		@media (max-width: 1023px) {
			width: 100px !important;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	/* Content wrapper */
	.wp-block-group {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-self: flex-start;
		height: 100%;
	}

	.wp-block-post-title {
		/* Apply h5 styles */
		font-size: clamp(14px, calc(14px + (6 * (100vw - 320px) / 1020)), 20px);
		letter-spacing: -0.4px;
		font-weight: 600;
	}

	.wp-block-post-content {
		flex-grow: 1;

		* {
			font-size: 16px;
		}
	}

	.wp-block-read-more {
		/* margin-inline: initial !important;
		margin-left: initial !important;
		margin-right: initial !important; */
	}
}
