/*********** Resets ***********/
/*
 * Button
 */
%reset-button {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	outline: 0;
	appearance: none;
	padding: 0;
	cursor: pointer;

	&::-moz-focus-inner {
		border: 0;
	}
}

/*********** GRID ***********/
/**
 * Base
 */
%container {
	margin-left: $container-min-offset;
	margin-right: $container-min-offset;

	@media (min-width: $sm-breakpoint) {
		margin-left: $container-tablet-offset;
		margin-right: $container-tablet-offset;
	}

	@media (min-width: $md-breakpoint) {
		margin-left: $container-laptop-offset;
		margin-right: $container-laptop-offset;
	}

	@media (min-width: $lg-breakpoint) {
		margin-left: $container-desktop-offset;
		margin-right: $container-desktop-offset;
	}

	@media (min-width: $container-max-width-mq) {
		width: 100%;
		max-width: $container-max-width;
		margin-left: auto;
		margin-right: auto;
	}
}

/**
 * Gaps
 */
%grid-column-gap {
	grid-column-gap: $grid-gap;

	@media (min-width: $grid-gap-max-mq) {
		grid-column-gap: $grid-gap-max;
	}
}

%grid-row-gap {
	grid-row-gap: $grid-gap;

	@media (min-width: $grid-gap-max-mq) {
		grid-row-gap: $grid-gap-max;
	}
}

%grid-no-margin {
	@extend %grid-column-gap, %grid-row-gap;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: auto;
	grid-template-rows: auto;
}

%grid {
	@extend %container, %grid-no-margin;
}

/*********** Styles ***********/
%link-underline {
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: 0 100%;
}
