# ######################################
# VARIABLES & SECRETS
# ######################################

# Mandatory Secrets
# -------------------------
# SSH_PRIVATE_KEY=ssh-private-key-for-deployement # Setting the private key in here will probably not work, as it's a rich string. You should set it manually in the Actions secrets on Github.
##

# Mandatory Variables
# -------------------------
SSH_HOST=XXX.XXX.XXX.XXX
SSH_PORT=22
SSH_USER=username
##

# ==========================
# FRONTEND
# ==========================

NEXT_URL=https://DOMAIN

# If deploy to Vercel
# -------------------------
VERCEL_TOKEN=xxxxxxxxxxx
VERCEL_ORG_ID=xxxxxxxxxxx
VERCEL_PROJECT_ID=xxxxxxxxxxx
##

# If deploy via SSH
# -------------------------
NEXT_PATH=/var/www/DOMAIN/public
NEXT_RESTART_COMMAND=pm2 restart superstack
##

# ==========================
# BACKEND
# ==========================

# Mandatory Variables
# -------------------------
WORDPRESS_PATH=/var/www/DOMAIN/admin
WORDPRESS_URL=https://admin.DOMAIN
WORDPRESS_THEME_NAME=superstack
##

# Extra vars needed for first time install
# -------------------------
WORDPRESS_LOCALE=en_US
WORDPRESS_VERSION=latest
WORDPRESS_DB_HOST=127.0.0.1
WORDPRESS_DB_NAME=superstack
WORDPRESS_DB_USER=superstack
WORDPRESS_ADMIN_USER=superhuit
WORDPRESS_ADMIN_EMAIL=tech+superstack@superhuit.ch
WORDPRESS_TITLE=Superhuit's Superstack
##