.wp-block-navigation {
	padding: 8px;

	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;

	background-color: #fff;

	&__items {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;

		list-style: none;
	}
}
