$color-brand-1-base: #3b82f6;
$color-brand-1-lighter: #93c5fd;
$color-brand-1-darker: #1e40af;
$color-brand-2-base: #f59e0b;
$color-brand-2-lighter: #fde68a;
$color-brand-2-darker: #b45309;
$color-text: #111111;
$color-neutral-000: #ffffff;
$color-neutral-100: #f3f4f6;
$color-neutral-200: #e5e7eb;
$color-neutral-300: #d1d5db;
$color-neutral-400: #9ca3af;
$color-neutral-500: #6b7280;
$color-neutral-600: #4b5563;
$color-neutral-700: #374151;
$color-neutral-800: #1f2937;
$color-neutral-900: #111827;
$color-error: red;
