.spck-section-faq {
	.spck-section-faq__inner {
		max-width: var(--wp--custom--layout--narrow);
	}

	.spck-section-faq_list {
		width: 100%;

		> .wp-block-details {
			width: 100%;
			padding-block: var(--wp--preset--spacing--20);
			border-top: 1px solid var(--wp--preset--color--accent-8);

			&:last-child {
				border-bottom: 1px solid var(--wp--preset--color--accent-8);
			}

			summary {
				font-weight: 600;

				&::marker,
				&::-webkit-details-marker {
					color: var(--wp--preset--color--accent-1);
				}
			}

			> *:not(summary) {
				margin-inline: var(--wp--preset--spacing--30);
			}
		}
	}
}
