.spck-section-latest-posts {
	.spck-section-latest-posts__top {
		width: 100%;
		justify-content: space-between;
		align-items: center;

		.wp-block-navigation {
			.wp-block-navigation-item {
				gap: 8px;
				transition: opacity 0.2s ease;

				a {
					transition:
						border-bottom-color 0.2s ease,
						color 0.2s ease;
					border-bottom-color: currentColor;
				}
				&:hover {
					opacity: 0.6;
				}

				&::before {
					content: "";
					display: block;
					width: 16px;
					height: 18px;
					color: var(--wp--preset--color--contrast);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					transition: opacity 0.2s ease;
				}

				&:has(a[href*="actualites"]) {
					&::before {
						background-image: url(../assets/icons/news.svg);
					}
				}

				&:has(a[href*="agenda"]) {
					&::before {
						background-image: url(../assets/icons/calendar.svg);
					}
				}
			}
		}
	}

	.spck-section-latest-posts__loop {
		ul {
			display: grid;
			gap: var(--wp--preset--spacing--30);

			@media (min-width: 600px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (min-width: 1024px) {
				grid-template-columns: repeat(4, 1fr);
			}

			li {
				margin: 0;
				padding: 0;

				.spck-card-post {
					height: 100%;
				}
			}
		}
	}
}
