.spck-section-people {
	.wp-block-group.is-layout-grid {
		grid-template-columns: 1fr;
		justify-content: center;

		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: 1024px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
