.spck-section-upcoming-events {
	.spck-section-upcoming-events__top {
		width: 100%;
		justify-content: space-between;
		align-items: center;

		.wp-block-navigation {
			.wp-block-navigation-item {
				a {
					transition:
						border-bottom-color 0.2s ease,
						color 0.2s ease;
					border-bottom-color: currentColor;

					&:hover {
						color: var(--wp--preset--color--accent-1);
					}
				}
			}
		}
	}

	.spck-section-upcoming-events__loop {
		ul {
			display: grid;
			gap: var(--wp--preset--spacing--30);

			@media (min-width: 600px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (min-width: 1024px) {
				grid-template-columns: repeat(3, 1fr);
			}

			li {
				margin: 0;
				padding: 0;

				.spck-card-post {
					height: 100%;
				}
			}
		}
	}
}
