.spck-cta {
	background-color: var(--wp--preset--color--accent-7);
	padding-left: clamp(30px, calc(30px + (136 * (100vw - 768px) / 572)), 166px);
	padding-right: clamp(30px, calc(30px + (136 * (100vw - 768px) / 572)), 166px);

	.spck-cta__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.wp-block-buttons {
		justify-content: center;
	}
}
