@import '@resources/index.css';

.supt-gdpr-category {
	&__tab {
		background-color: $color-neutral-000;
		display: flex;
		justify-content: space-between;
		padding: 12px 11px;
		cursor: pointer;
		position: relative;
		border: none;
		transition: background-color $transition-fast;
		&:hover {
			background-color: $color-neutral-100;
		}
	}

	&__title {
		@extend %reset-button, %t-paragraph;
		font-weight: 500;
		border: none;
		display: flex;
		align-items: center;
		gap: 4px;
		outline: 2px solid transparent;
		outline-offset: 4px;
		&:focus-visible {
			outline: 2px solid $color-neutral-000;
		}
	}

	&__caption,
	&__status {
		@extend %t-caption;
		display: flex;
		align-items: center;
	}

	&__switch {
		position: relative;
		display: flex;
		align-items: center;
		z-index: 10;
		margin-left: 8px;
	}

	&__checkbox {
		opacity: 0;
		position: absolute;
		z-index: -1;
		&:checked + label {
			background-color: $color-neutral-900;
			&::before {
				transform: translateX(14px);
				background-color: $color-neutral-000;
			}
		}
	}

	&__desc {
		@extend %t-paragraph;
	}
	&__caption {
		margin-left: 8px;
	}

	&__label {
		position: relative;
		z-index: 1;
		height: 14px;
		width: 28px;
		order: 2;
		cursor: pointer;
		flex-shrink: 0;
		border-radius: 34px;
		font-size: 0;
		box-shadow: none;
		background-color: $color-neutral-000;
		border: 2px solid $color-neutral-900;
		transition:
			background-color 0.2s ease-out,
			box-shadow 0.2s ease-out;
		&::before {
			content: '';
			position: absolute;
			top: calc(50% - 7px);
			left: -2px;
			display: block;
			height: 14px;
			width: 14px;
			border-radius: 50%;
			background-color: $color-neutral-900;
			border: 1px solid $color-neutral-900;
			transition:
				background-color 0.2s ease-out,
				transform 0.2s ease-out;
		}
	}

	&__status {
		position: relative;
		z-index: 1;
		order: 1;
		margin-right: 8px;
	}

	&__content {
		@extend %t-paragraph;
		width: 100%;
		padding-left: 32px;
		padding-top: 12px;
		padding-right: 12px;
		&[aria-hidden='true'] {
			display: none;
		}

		@media (min-width: $breakpoint-sm) {
			padding-left: 40px;
		}
		@media (min-width: $breakpoint-md) {
			padding-left: 46px;
		}
	}

	&__icon {
		transition: transform $transition-fast ease-out;
	}

	/**
	 * STATES
	 */
	&.-is-expanded {
		.supt-gdpr-category__icon {
			transform: rotate(90deg);
		}
	}
}
