.spck-section-cards.-text.-history {
	.spck-section-cards__list {
		> * {
			@media (min-width: 600px) {
				grid-column: 1 / span 2;
			}
			@media (min-width: 900px) {
				grid-column: 1 / span 3;
			}
			@media (min-width: 1024px) {
				grid-column: 2 / span 2;
			}
		}
	}
}
