@import '@resources/index.css';

.supt-list {
	@extend %t-paragraph;

	ul&,
	ul {
		list-style: none;
		> li {
			position: relative;
			padding-left: 1em;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0.5em;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: $color-brand-1-base;
			}
		}
	}

	ol&,
	ol {
		list-style-position: inside;
		> li {
			&::marker {
				font-weight: bold;
			}
		}
	}

	ol& {
		> li {
			&::marker {
				color: $color-brand-1-base;
			}
		}
	}

	/* Child Lists */
	ul,
	ol {
		padding-left: 1em;
	}

	/* Child Ordered List - letter bullet */
	ol {
		> li::marker {
			color: $color-brand-1-lighter;
		}
	}

	/* Child Unordered List - gray triangle */
	ul {
		list-style: none;
		> li::before {
			background-color: $color-brand-1-lighter;
		}
	}
}
