# Only required if you want to override the default values

## WordPress APIs
## important: never leak those to client-side code, keep them secret
WORDPRESS_URL=http://localhost

## Next.js config
## hint: learn more about Next.js env vars on https://nextjs.org/docs/basic-features/environment-variables
NEXT_URL=http://localhost:3000