.supt-card-post {
  position: relative;

  &__image {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }

  &__image-container {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    border-radius: var(--wp--custom--border--radius, 15px);
    overflow: hidden;
  }

  &__link {
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: transparent;
      z-index: 1;
    }
  }

  &:hover {
    & .supt-card-post__image {
      transform: scale(1.025);
    }
  }
}
