.wp-block-embed {
    &__wrapper {
        position: relative;
    }
    iframe {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }

    &.is-type-video {
        iframe {
            aspect-ratio: 16/9;
        }
    }
}