@import '@resources/index.css';

.supt-button {
	@extend %reset-button, %t-button;

	display: inline-block;
	padding: 5px 10px;
	background-color: lightblue;
	border: 1px solid purple;

	/* Must have 2 levels of selectors nested to make sure it overrides the WordPress core button styles */
	.supt-button__inner {
		color: green;
	}

	&:last-child {
		margin-right: 0;
	}

	&.-secondary,
	&.is-style-secondary {
		background-color: pink;
	}
}
