/.data
/wp-content
/theme/static
/theme/vendors
auth.json
/vendor

# Lock files
composer.lock
package-lock.json

# Plugins: track only those that cannot be installed by the bootstrap script
!/plugins
/plugins/*
!/plugins/.gitkeep
