sub,
sup {
	font-size: smaller;
}
sub {
	vertical-align: sub;
}
sup {
	vertical-align: super;
}

/***** LINKS *****/
.wp-block-paragraph,
.wp-block-list,
.wp-block-table {
	a {
		@extend %link-underline;
	}
}

.main {
	padding-top: 130px;
}
