.wp-block-image {
    position: relative;

    img {
        display: block;
        max-width: 100%;
    }

    &.is-style-rounded {
        img {
            border-radius: 50%;
        }
    }
    &.has-aspect-ratio {
        img {
            position: static !important;
            width: auto !important;
            height: auto !important;
        }
    }
}