@import '@resources/index.css';

.wp-block-group {
	&.is-layout-flex {
		@extend %grid-column-gap;

		display: flex;
		flex-wrap: wrap;
		align-items: center;

		&.is-nowrap {
			flex-wrap: nowrap;
		}

		&.is-vertical {
			flex-direction: column;
			align-items: flex-start;

			&.is-content-justification-left {
				align-items: flex-start;
			}
			&.is-content-justification-center {
				align-items: center;
			}
			&.is-content-justification-right {
				align-items: flex-end;
			}
			&.is-content-justification-stretch {
				align-items: stretch;
			}

			&.is-vertically-aligned-top {
				justify-content: flex-start;
			}
			&.is-vertically-aligned-center {
				justify-content: center;
			}
			&.is-vertically-aligned-bottom {
				justify-content: flex-end;
			}
		}

		&:not(.is-vertical) {
			&.is-content-justification-left {
				justify-content: flex-start;
			}
			&.is-content-justification-center {
				justify-content: center;
			}
			&.is-content-justification-right {
				justify-content: flex-end;
			}
			&.is-content-justification-space-between {
				justify-content: space-between;
			}

			&.is-vertically-aligned-top {
				align-items: flex-start;
			}
			&.is-vertically-aligned-center {
				align-items: center;
			}
			&.is-vertically-aligned-bottom {
				align-items: flex-end;
			}
		}
	}

	&.is-layout-grid {
		@extend %grid-column-gap;

		display: grid;
	}

	&.wp-block-group-is-layout-constrained {
		position: relative;
	}
}