@import '@resources/index.css';

.supt-video {
	width: 100%;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__inner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-color: rgba(0 0 0 20%);
	}

	&__player {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__poster {
		width: 100%;

		> * {
			display: block !important;
		}

		img {
			object-fit: contain;
			object-position: center;
		}
	}

	&__caption {
		@extend %t-caption;
	}

	&__play-btn {
		@extend %reset-button;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		&:hover,
		&:focus-visible {
			.supt-video__play-icon {
				transform: scale(1.05);
			}
		}
	}

	&__play-icon {
		@mixin clamp width, 32, 48, $xxs-breakpoint, $lg-breakpoint;
		@mixin clamp height, 32, 48, $xxs-breakpoint, $lg-breakpoint;

		position: absolute;
		z-index: 1;
		transition: transform 0.3s ease-out;

		circle {
			fill: $color-brand-2-base;
		}

		path {
			fill: $color-neutral-000;
		}
	}

	&.-is-playing {
		.supt-video__play-btn {
			opacity: 0;
			visibility: hidden;
		}
	}
}
