@import '@resources/index.css';

.supt-list {
	@extend %t-paragraph;

	list-style: none;
	padding: 0px;

	li {
		position: relative;
		padding-left: 1em;

		&::before {
			content: '';
			position: absolute;
			left: 0;
		}
	}

	ul&,
	ul {
		> li::before {
			top: 0.5em;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $color-brand-1-base;
		}
	}

	ol&,
	ol {
		counter-reset: li;

		> li {
			counter-increment: li;

			&::before {
				top: 0;
				font-weight: bold;
			}
		}
	}

	ol& {
		> li {
			padding-left: 1.3em;

			&::before {
				content: counter(li) '.';

				color: $color-brand-1-base;
			}
		}
	}

	/* Child Lists */
	ul,
	ol {
		list-style: none;
		padding: 0px;
	}

	/* Child Ordered List - letter bullet */
	ol {
		> li::before {
			content: counter(li, lower-alpha) '.';
			color: $color-brand-1-lighter;
		}
	}

	/* Child Unordered List - gray triangle */
	ul {
		> li::before {
			background-color: $color-brand-1-lighter;
		}
	}

	/* MODIFIERS */
	&[reversed] {
		ol& {
			> li {
				&::before {
					counter-increment: li -1;
				}
			}
		}
	}
}
