.spck-archive.-partner {
	margin-top: 0;
	margin-block-start: 0 !important;

	.wp-block-query {
		ul {
			display: grid;
			gap: var(--wp--preset--spacing--30);

			@media (min-width: 768px) {
				grid-template-columns: repeat(2, 1fr);
			}

			li {
				margin: 0;
				padding: 0;

				.spck-card-partner {
					height: 100%;
				}
			}
		}
	}
}
