<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:group {"className":"spck-archive","style":{"spacing":{"blockGap":"var:preset|spacing|100","margin":{"bottom":"var:preset|spacing|100"}}},"layout":{"type":"constrained"}} -->
<div
  class="wp-block-group spck-archive"
  style="margin-bottom: var(--wp--preset--spacing--100)"
>
  <!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","padding":{"left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
  <main
    class="wp-block-group"
    style="
      padding-right: var(--wp--preset--spacing--50);
      padding-left: var(--wp--preset--spacing--50);
    "
  >
    <!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]}} -->
    <div class="wp-block-query">
      <!-- wp:post-template {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|50"}}}} -->
      <!-- /wp:post-template -->

      <!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false,"align":"center"} -->
      <!-- wp:query-pagination-previous /-->
      <!-- wp:query-pagination-numbers /-->
      <!-- wp:query-pagination-next /-->
      <!-- /wp:query-pagination -->

      <!-- wp:query-no-results -->
      <!-- wp:paragraph -->
      <p>Aucun article trouvé.</p>
      <!-- /wp:paragraph -->
      <!-- /wp:query-no-results -->
    </div>
    <!-- /wp:query -->
  </main>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
