<!-- wp:template-part {"slug":"header","theme":"superstack","tagName":"div"} /-->

<!-- wp:group {"className":"spck-archive -press-review","style":{"spacing":{"blockGap":"var:preset|spacing|100","margin":{"bottom":"var:preset|spacing|100"}}},"layout":{"type":"constrained"}} -->
<div
  class="wp-block-group spck-archive -press-review"
  style="margin-bottom: var(--wp--preset--spacing--100)"
>
  <!-- wp:group {"tagName":"header","lock":{"move":false,"remove":false},"metadata":{"name":"En-tête texte","categories":["header"],"patternName":"superstack/hero-text"},"align":"full","className":"spck-hero-text","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"},"allowedBlocks":[]} -->
  <header
    class="wp-block-group alignfull spck-hero-text"
    style="
      padding-top: 0;
      padding-right: var(--wp--preset--spacing--50);
      padding-bottom: 0;
      padding-left: var(--wp--preset--spacing--50);
    "
  >
    <!-- wp:group {"lock":{"move":true,"remove":true},"className":"spck-hero-text__inner","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|100","bottom":"var:preset|spacing|100","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"},"allowedBlocks":[]} -->
    <div
      class="wp-block-group spck-hero-text__inner"
      style="
        margin-top: 0;
        margin-bottom: 0;
        padding-top: var(--wp--preset--spacing--100);
        padding-right: var(--wp--preset--spacing--50);
        padding-bottom: var(--wp--preset--spacing--100);
        padding-left: var(--wp--preset--spacing--50);
      "
    >
      <!-- wp:group {"lock":{"move":true,"remove":true},"className":"spck-hero-text__stack","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","orientation":"vertical"},"allowedBlocks":["core/paragraph","core/heading"]} -->
      <div class="wp-block-group spck-hero-text__stack">
        <!-- wp:heading {"level":1} -->
        <h1 class="wp-block-heading">Archive</h1>
        <!-- /wp:heading -->
        <!-- wp:paragraph {"lock":{"move":true,"remove":false},"fontSize":"large"} -->
        <p class="has-large-font-size">
          une sélection d’articles et de contenus audio (interviews, émissions,
          podcasts) qui nous mentionnent ou abordent l’action en
          <strong>santé psychique</strong> en Suisse romande.
        </p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </header>
  <!-- /wp:group -->

  <!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|100","padding":{"left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
  <main
    class="wp-block-group"
    style="
      padding-right: var(--wp--preset--spacing--50);
      padding-left: var(--wp--preset--spacing--50);
    "
  >
    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
      <!-- wp:heading {"fontSize":"x-large"} -->
      <h2 class="wp-block-heading has-x-large-font-size">Revues de presse</h2>
      <!-- /wp:heading -->

      <!-- wp:query {"queryId":1,"namespace":"superstack/archive-press-review-link","query":{"pages":0,"offset":0,"postType":"press_review","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"press_review_type":[10]},"parents":[],"format":[],"perPage":9}} -->
      <div class="wp-block-query">
        <!-- wp:post-template {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|50"}}}} -->
        <!-- wp:pattern {"slug":"superstack/card-post-press-review"} /-->
        <!-- /wp:post-template -->

        <!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false,"align":"center"} -->
        <!-- wp:query-pagination-previous /-->
        <!-- wp:query-pagination-numbers /-->
        <!-- wp:query-pagination-next /-->
        <!-- /wp:query-pagination -->

        <!-- wp:query-no-results -->
        <!-- wp:paragraph -->
        <p>Aucune revue de presse trouvée.</p>
        <!-- /wp:paragraph -->
        <!-- /wp:query-no-results -->
      </div>
      <!-- /wp:query -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
      <!-- wp:heading {"fontSize":"x-large"} -->
      <h2 class="wp-block-heading has-x-large-font-size">Audios</h2>
      <!-- /wp:heading -->

      <!-- wp:query {"queryId":2,"namespace":"superstack/archive-press-review-audio","query":{"pages":0,"offset":0,"postType":"press_review","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"press_review_type":[11]},"parents":[],"format":[],"perPage":9}} -->
      <div class="wp-block-query">
        <!-- wp:post-template {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|50"}}}} -->
        <!-- wp:pattern {"slug":"superstack/card-post-press-review"} /-->
        <!-- /wp:post-template -->

        <!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false,"align":"center"} -->
        <!-- wp:query-pagination-previous /-->
        <!-- wp:query-pagination-numbers /-->
        <!-- wp:query-pagination-next /-->
        <!-- /wp:query-pagination -->

        <!-- wp:query-no-results -->
        <!-- wp:paragraph -->
        <p>Aucune audio trouvé.</p>
        <!-- /wp:paragraph -->
        <!-- /wp:query-no-results -->
      </div>
      <!-- /wp:query -->
    </div>
    <!-- /wp:group -->
  </main>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"superstack"} /-->
