<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:group {"className":"spck-archive","style":{"spacing":{"blockGap":"var:preset|spacing|100","margin":{"bottom":"var:preset|spacing|100"}}},"layout":{"type":"constrained"}} -->
<div
  class="wp-block-group spck-archive"
  style="margin-bottom: var(--wp--preset--spacing--100)"
>
  <!-- wp:group {"tagName":"header","lock":{"move":false,"remove":false},"metadata":{"name":"En-tête texte","categories":["header"],"patternName":"superstack/hero-text"},"align":"full","className":"spck-hero-text","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"},"allowedBlocks":[]} -->
  <header
    class="wp-block-group alignfull spck-hero-text"
    style="
      padding-top: 0;
      padding-right: var(--wp--preset--spacing--50);
      padding-bottom: 0;
      padding-left: var(--wp--preset--spacing--50);
    "
  >
    <!-- wp:group {"lock":{"move":true,"remove":true},"className":"spck-hero-text__inner","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|100","bottom":"var:preset|spacing|100","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"},"allowedBlocks":[]} -->
    <div
      class="wp-block-group spck-hero-text__inner"
      style="
        margin-top: 0;
        margin-bottom: 0;
        padding-top: var(--wp--preset--spacing--100);
        padding-right: var(--wp--preset--spacing--50);
        padding-bottom: var(--wp--preset--spacing--100);
        padding-left: var(--wp--preset--spacing--50);
      "
    >
      <!-- wp:group {"lock":{"move":true,"remove":true},"className":"spck-hero-text__stack","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","orientation":"vertical"},"allowedBlocks":["core/paragraph","core/heading"]} -->
      <div class="wp-block-group spck-hero-text__stack">
        <!-- wp:query-title {"type":"archive","level":1} /-->
        <!-- wp:term-description {"fontSize":"large"} /-->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </header>
  <!-- /wp:group -->

  <!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","padding":{"left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
  <main
    class="wp-block-group"
    style="
      padding-right: var(--wp--preset--spacing--50);
      padding-left: var(--wp--preset--spacing--50);
    "
  >
    <!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]}} -->
    <div class="wp-block-query">
      <!-- wp:post-template {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|50"}}}} -->
      <!-- wp:pattern {"slug":"superstack/card-post"} /-->
      <!-- /wp:post-template -->

      <!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false,"align":"center"} -->
      <!-- wp:query-pagination-previous /-->
      <!-- wp:query-pagination-numbers /-->
      <!-- wp:query-pagination-next /-->
      <!-- /wp:query-pagination -->

      <!-- wp:query-no-results -->
      <!-- wp:paragraph -->
      <p>Aucun article trouvé.</p>
      <!-- /wp:paragraph -->
      <!-- /wp:query-no-results -->
    </div>
    <!-- /wp:query -->
  </main>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
