<!-- wp:template-part {"slug":"header","theme":"superstack","tagName":"div"} /-->

<!-- wp:group {"className":"spck-archive -member","style":{"spacing":{"blockGap":"var:preset|spacing|100","margin":{"bottom":"var:preset|spacing|100"}}},"layout":{"type":"constrained"}} -->
<div
  class="wp-block-group spck-archive -member"
  style="margin-bottom: var(--wp--preset--spacing--100)"
>
  <!-- wp:group {"tagName":"header","lock":{"move":false,"remove":false},"metadata":{"name":"En-tête texte","categories":["header"],"patternName":"superstack/hero-text"},"align":"full","className":"spck-hero-text","layout":{"type":"constrained"},"allowedBlocks":[]} -->
  <header class="wp-block-group alignfull spck-hero-text">
    <!-- wp:group {"lock":{"move":true,"remove":true},"className":"spck-hero-text__inner","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|100","bottom":"var:preset|spacing|100","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"},"allowedBlocks":[]} -->
    <div
      class="wp-block-group spck-hero-text__inner"
      style="
        margin-top: 0;
        margin-bottom: 0;
        padding-top: var(--wp--preset--spacing--100);
        padding-right: var(--wp--preset--spacing--50);
        padding-bottom: var(--wp--preset--spacing--100);
        padding-left: var(--wp--preset--spacing--50);
      "
    >
      <!-- wp:group {"lock":{"move":true,"remove":true},"className":"spck-hero-text__stack","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","orientation":"vertical"},"allowedBlocks":["core/paragraph","core/heading","core/buttons"]} -->
      <div class="wp-block-group spck-hero-text__stack">
        <!-- wp:heading {"level":1} -->
        <h1 class="wp-block-heading">Nos membres</h1>
        <!-- /wp:heading -->

        <!-- wp:paragraph -->
        <p>Envie de collaborer avec la Superstack ?</p>
        <!-- /wp:paragraph -->

        <!-- wp:buttons -->
        <div class="wp-block-buttons">
          <!-- wp:button {"className":"is-style-outline"} -->
          <div class="wp-block-button is-style-outline">
            <a
              class="wp-block-button__link wp-element-button"
              href="/devenir-membre/"
              >Devenir membre</a
            >
          </div>
          <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </header>
  <!-- /wp:group -->

  <!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","padding":{"left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
  <main
    class="wp-block-group"
    style="
      padding-right: var(--wp--preset--spacing--50);
      padding-left: var(--wp--preset--spacing--50);
    "
  >
    <!-- wp:group {"tagName":"section","metadata":{"name":"Section texte","categories":["text"],"patternName":"superstack/section-text"},"className":"spck-section-text","style":{"spacing":{"padding":{"top":"var:preset|spacing|100","bottom":"var:preset|spacing|100","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"},"allowedBlocks":[]} -->
    <section
      class="wp-block-group spck-section-text"
      style="
        padding-top: var(--wp--preset--spacing--100);
        padding-right: var(--wp--preset--spacing--50);
        padding-bottom: var(--wp--preset--spacing--100);
        padding-left: var(--wp--preset--spacing--50);
      "
    >
      <!-- wp:columns {"lock":{"move":true,"remove":true}} -->
      <div class="wp-block-columns">
        <!-- wp:column {"lock":{"move":false,"remove":true},"allowedBlocks":[]} -->
        <div class="wp-block-column">
          <!-- wp:heading {"textAlign":"left","lock":{"move":true,"remove":true},"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}}} -->
          <h2 class="wp-block-heading has-text-align-left">En bref</h2>
          <!-- /wp:heading -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"lock":{"move":false,"remove":true},"allowedBlocks":[]} -->
        <div class="wp-block-column">
          <!-- wp:group {"lock":{"move":true,"remove":true},"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"},"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"flex","orientation":"vertical"},"allowedBlocks":[]} -->
          <div class="wp-block-group">
            <!-- wp:group {"lock":{"move":true,"remove":true},"layout":{"type":"constrained"},"allowedBlocks":["core/paragraph","core/heading","core/list","core/quote","core/code","core/details","core/math","core/preformatted","core/pullquote","core/table","core/verse","core/freeform"]} -->
            <div class="wp-block-group">
              <!-- wp:paragraph -->
              <p>
                Les 33 organisations membres de la SUPERSTACK proposent une large
                palette de prestations co-construites avec les personnes
                concernées. Elles offrent notamment :
              </p>
              <!-- /wp:paragraph -->

              <!-- wp:list -->
              <ul class="wp-block-list">
                <!-- wp:list-item -->
                <li>des lieux d’accueil, de rencontre et d’entraide</li>
                <!-- /wp:list-item -->
                <!-- wp:list-item -->
                <li>
                  des activités collectives en autogestion ou accompagnées par
                  des professionnel·le·s
                </li>
                <!-- /wp:list-item -->
                <!-- wp:list-item -->
                <li>
                  des groupes d'entraide du conseil social, juridique et un
                  accompagnement psychosocial
                </li>
                <!-- /wp:list-item -->
                <!-- wp:list-item -->
                <li>
                  des projets socioculturels et de sensibilisation (conférences,
                  publications, actions de prévention);
                </li>
                <!-- /wp:list-item -->
                <!-- wp:list-item -->
                <li>
                  des formations et activités professionnelles adaptées pour
                  personnes au bénéfice ou non d'une rente AI
                </li>
                <!-- /wp:list-item -->
                <!-- wp:list-item -->
                <li>
                  des ateliers d’expression, de développement personnel et des
                  solutions d’occupation, y compris à domicile.
                </li>
                <!-- /wp:list-item -->
              </ul>
              <!-- /wp:list -->

              <!-- wp:paragraph -->
              <p>
                Ces prestations visent à renforcer l’autonomie, le lien social
                et la participation citoyenne des personnes concernées.
              </p>
              <!-- /wp:paragraph -->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:column -->
      </div>
      <!-- /wp:columns -->
    </section>
    <!-- /wp:group -->
  </main>
  <!-- /wp:group -->

  <!-- wp:superstack/section-members-map -->
  <!-- wp:group {"className":"spck-section-members-map__content","layout":{"type":"flex","orientation":"vertical"}} -->
  <div class="wp-block-group spck-section-members-map__content">
    <!-- wp:heading -->
    <h2 class="wp-block-heading">Partout en <br />Suisse romande</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph {"fontSize":"x-large"} -->
    <p class="has-x-large-font-size">
      Cliquez sur la carte et découvrez les organisations.
    </p>
    <!-- /wp:paragraph -->
  </div>
  <!-- /wp:group -->

  <!-- wp:paragraph {"className":"spck-section-members-map__infos"} -->
  <p class="spck-section-members-map__infos">
    Envie de collaborer avec la Superstack ?
    <a href="/devenir-membre/">Devenir membre</a>
  </p>
  <!-- /wp:paragraph -->
  <!-- /wp:superstack/section-members-map -->

  <!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","padding":{"left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
  <main
    class="wp-block-group"
    style="
      padding-right: var(--wp--preset--spacing--50);
      padding-left: var(--wp--preset--spacing--50);
    "
  >
    <!-- wp:query {"queryId":1,"namespace":"superstack/archive-member","query":{"pages":0,"offset":0,"postType":"member","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[],"perPage":-1}} -->
    <div class="wp-block-query">
      <!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}}} -->
      <!-- wp:pattern {"slug":"superstack/card-member"} /-->
      <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
  </main>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"superstack"} /-->
