<!-- wp:template-part {"slug":"header","theme":"superstack","tagName":"div"} /-->

<!-- wp:group {"className":"spck-archive -partner","style":{"spacing":{"blockGap":"var:preset|spacing|100","margin":{"bottom":"var:preset|spacing|100"}}},"layout":{"type":"constrained"}} -->
<div
  class="wp-block-group spck-archive -partner"
  style="margin-bottom: var(--wp--preset--spacing--100)"
>
  <!-- wp:group {"tagName":"header","lock":{"move":false,"remove":false},"metadata":{"name":"En-tête texte","categories":["header"],"patternName":"superstack/hero-text"},"align":"full","className":"spck-hero-text","layout":{"type":"constrained"},"allowedBlocks":[]} -->
  <header class="wp-block-group alignfull spck-hero-text">
    <!-- wp:group {"lock":{"move":true,"remove":true},"className":"spck-hero-text__inner","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|100","bottom":"var:preset|spacing|100","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"},"allowedBlocks":[]} -->
    <div
      class="wp-block-group spck-hero-text__inner"
      style="
        margin-top: 0;
        margin-bottom: 0;
        padding-top: var(--wp--preset--spacing--100);
        padding-right: var(--wp--preset--spacing--50);
        padding-bottom: var(--wp--preset--spacing--100);
        padding-left: var(--wp--preset--spacing--50);
      "
    >
      <!-- wp:group {"lock":{"move":true,"remove":true},"className":"spck-hero-text__stack","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","orientation":"vertical"},"allowedBlocks":["core/paragraph","core/heading","core/buttons"]} -->
      <div class="wp-block-group spck-hero-text__stack">
        <!-- wp:heading {"level":1} -->
        <h1 class="wp-block-heading">Nos partenaires</h1>
        <!-- /wp:heading -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </header>
  <!-- /wp:group -->

  <!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","padding":{"left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
  <main
    class="wp-block-group"
    style="
      padding-right: var(--wp--preset--spacing--50);
      padding-left: var(--wp--preset--spacing--50);
    "
  >
    <!-- wp:query {"queryId":1,"namespace":"superstack/archive-partner","query":{"pages":0,"offset":0,"postType":"partner","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[],"perPage":-1}} -->
    <div class="wp-block-query">
      <!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}}} -->
      <!-- wp:pattern {"slug":"superstack/card-partner"} /-->
      <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
  </main>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"superstack"} /-->
