<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","className":"spck-archive -post","style":{"spacing":{"blockGap":"var:preset|spacing|100","margin":{"bottom":"var:preset|spacing|100"}}},"layout":{"type":"constrained"}} -->
<main
  class="wp-block-group spck-archive -post"
  style="margin-bottom: var(--wp--preset--spacing--100)"
>
  <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50","padding":{"left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
  <div
    class="wp-block-group"
    style="
      padding-right: var(--wp--preset--spacing--50);
      padding-left: var(--wp--preset--spacing--50);
    "
  ></div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"superstack"} /-->
