<!-- wp:template-part {"slug":"header","theme":"superstack","tagName":"div"} /-->

<!-- wp:group {"className":"spck-single-content -post","style":{"spacing":{"padding":{"top":"var:preset|spacing|100","bottom":"var:preset|spacing|100"},"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} -->
<div
  class="wp-block-group spck-single-content -post"
  style="
    padding-top: var(--wp--preset--spacing--100);
    padding-bottom: var(--wp--preset--spacing--100);
  "
>
  <!-- wp:group {"tagName":"header","metadata":{"name":"HeaderPost"},"layout":{"type":"constrained"}} -->
  <header class="wp-block-group">
    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
      <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
      <div class="wp-block-group">
        <!-- wp:paragraph {"className":"is-style-default"} -->
        <p class="is-style-default">Actualités</p>
        <!-- /wp:paragraph -->

        <!-- wp:post-terms {"term":"category"} /-->

        <!-- wp:post-date /-->
      </div>
      <!-- /wp:group -->

      <!-- wp:post-title {"level":1} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-featured-image {"aspectRatio":"16/9","scale":"cover","align":"wide"} /-->
  </header>
  <!-- /wp:group -->

  <!-- wp:post-content {"tagName":"main","layout":{"type":"constrained"}} /-->

  <!-- wp:pattern {"slug":"superstack/section-related-posts"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"superstack"} /-->
